<?xml version="1.0" encoding="UTF-8"?>
<!--
    debug：true【会输出状态信息】，默认false
    scan: true【配置文件自动重新加载】, 默认false
    scanPeriod: 扫描周期，默认为一分钟，单位包括: milliseconds/seconds/minutes/hours, 默认单位毫秒
-->
<configuration debug="false" scan="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{120}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.domain" level="debug" />

    <!--默认level：debug-->
    <root level="off">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>